# Set the default behavior for handling line endings, in case people don't have core.autocrlf set.
# See https://help.github.com/articles/dealing-with-line-endings/ for more details
* text=auto

# Treat images and gifs as binaries
*.png           binary
*.gif           binary

